mat-accordion {
  width: 80%;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.movie-image {
  width: 100%;
}

.movie-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0)
}
