<mat-accordion multi="true" *ngIf="movies.length > 0">
  <mat-expansion-panel *ngFor="let movie of movies">
    <mat-expansion-panel-header>
      {{ movie.title }}
    </mat-expansion-panel-header>
    <mat-panel-description>
      {{ movie.description }}
    </mat-panel-description>
    <mat-panel-description>
      {{ movie.type }}
    </mat-panel-description>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(movie.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="movies.length <= 0"> No movies added yet!</p>
