<h2 class="mat-h2"> Create A Watch Item </h2>
<form (submit)="onSaveMedia(postForm)" #postForm="ngForm">
  <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        placeholder="Title"
        [ngModel]="movie?.title"
        required
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a movie title.</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input
        matInput
        type="text"
        name="description"
        placeholder="Description"
        [ngModel]="movie?.description"
        required
        #description="ngModel">
      <mat-error *ngIf="description.invalid">Please enter a movie description.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Type"
      [ngModel]="movie?.type"
      required
      #type="ngModel"
      name="type"
    >
      <mat-option value="movie">Movie</mat-option>
      <mat-option value="tv_show"> TV Series </mat-option>
      <mat-option value="other">Other</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    type="submit"> Save Media </button>
</form>
