<app-search-bar></app-search-bar>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md col-lg">
      <h3>Most Popular Shows</h3>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let show of tvShowList">
          <div class="float-lg-right float-md-right">
            <button class="btn btn-success">
              <span class="ion ion-md-add"></span> To List
            </button>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <b *ngIf="!show.imagePath"> No image can currently be displayed. </b>
              <img *ngIf="show.imagePath" src={{baseImagePath}}{{show.imagePath}}/>
            </div>
            <div class="col-lg-7 col-md-7 text-center">
              <h4>
                {{show.title}}
              </h4>
              First Aired On: {{show.releaseDate}}
            </div>
          </div>
          <div class="row">
            <b>Summary: </b>{{show.description}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
