<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <h2 class="mat-h2" *ngIf="isLoading"> Signup </h2>
  <form (submit)="onSignup(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="email" placeholder="Email Address" name="email" #emailInput="ngModel" ngModel required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" #passwordInput="ngModel" ngModel required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
      <button mat-raised-button class="btn-primary" type="submit" *ngIf="!isLoading"> Signup </button>
  </form>
</mat-card>
